# FOLDERS ##########################

**/.git
**/.expo
**/node_modules
**/build
**/dist
**/ignore
**/coverage

# FILES ############################

**/.env
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
