# https://eslint.org/docs/latest/user-guide/configuring/ignoring-code

# FOLDERS ###############################

.github/
.husky/
.vscode/
.next/
node_modules/
public/
tools/

# FILES #################################
