#https://git-scm.com/docs/gitignore

# FOLDERS ###############################

coverage/
dist/
node_modules/

# FILES #################################

.env
package-lock.json
pnpm-lock.yaml
yarn.lock

