#https://git-scm.com/docs/gitignore

# FOLDERS ###############################

.next
coverage/
ignore/
dist/
node_modules/

# FILES #################################

.env
package-lock.json
yarn.lock
pnpm-lock.yaml
