# https://prettier.io/docs/en/ignore.html

# FOLDERS ###############################

.git/
.github/
.husky/
.next/
.vscode/
coverage/
node_modules/
public/

# FILES #################################

.czrc
.editorconfig
.env.local
.env.example
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc
.prettierignore
.prettierrc.json
commitlint.config.js
jest.config.js
LICENSE
next-env.d.ts
next.config.js
package.json
postcss.config.js
README.md
tailwind.config.js
tsconfig.json
vercel.json

package-lock.json
pnpm-lock.yaml
yarn.lock
