# https://eslint.org/docs/latest/user-guide/configuring/ignoring-code

# FOLDERS ###############################


.github/
.husky/
.next/
.vscode/
coverage/
node_modules/

# FILES #################################
