# https://eslint.org/docs/latest/user-guide/configuring/ignoring-code

# FOLDERS #################################

.git/
.expo/
.github/
.husky/
.vscode/
node_modules/

# FILES ###################################

.czrc
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc
.prettierignore
.prettierrc.json
app.json
babel.config.js
commitlint.config.js
eas.json
LICENSE
package.json
README.md
tsconfig.json

package-lock.json
pnpm-lock.yaml
yarn.lock
