# https://eslint.org/docs/latest/user-guide/configuring/ignoring-code

# FOLDERS #################################

.expo/
.github/
.husky/
.vscode/
node_modules/

# FILES ###################################
