# https://eslint.org/docs/latest/user-guide/configuring/ignoring-code

# FOLDERS ###############################


.github/
.husky/
.vscode/
coverage/
dist/
node_modules/
tools/

# FILES #################################
